* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  overflow-x: hidden;
  
}

header {
  background: #0c192c;
  height: 99vh;
}
h2 {
  vertical-align: center;
  text-align: center;
}
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #18657c;
  background: linear-gradient(to left, #20216d, #121c41);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 50px;
  padding: 1em;
  position: fixed;
  width: 100vw;
  z-index: 2;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}
.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
  position: fixed;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
li a {
  color: white;
  opacity: 1;
  text-decoration: none;
}
@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  li a {
    color: white;
    opacity: 1;
    text-decoration: none;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/* rain section  */

.bubble {
  position: relative;
  display: flex;
}

.bubble span {
  position: relative;
  height: 30px;
  width: 30px;
 
  margin: 0 4px;
  border-radius: 50%;
  
  animation: animate 2s linear infinite;
  animation-duration: calc(80s / var(--i));
}
.bubble span:nth-child(even) {
  width: 15px;
  height: 10px;
  font-size: 2.5rem;
  color: #26246d;
  /* background: #71062c; */
  /* box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #71062c, 0 0 100px #71062c; */
}
.bubble span:nth-child(odd) {
  width: 15px;
  height: 15px;
  font-size: 3rem;
  color: #fff;
  /* background-color: #fff ; */
 /* background: #01494a; */
 /* box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #01494a, 0 0 100px #01494a; */
  /* box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #71062c, 0 0 100px #71062c; */
}
@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}

.container5 {
  position: relative;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  width: 100%;
  margin-top: -80px;
}
.pic-main-face {
  background: url(/asset/laptop-tablet-desktop-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 25rem;
  height: 25rem;
  margin-left: 30%;
  opacity: 0.3;
  z-index: -1;
}


.item-1,
.item-2,
.item-3 {
  position: relative;
  display: block;
  top: 2em;
  width: 60%;
  font-size: 4em;
  color: #fff;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.item-1 {
  animation-name: anim-1;
}

.item-2 {
  animation-name: anim-2;
}

.item-3 {
  animation-name: anim-3;
}

@keyframes anim-1 {
  0%,
  8.3% {
    left: -100%;
    opacity: 0;
  }
  8.3%,
  25% {
    left: 25%;
    opacity: 1;
  }
  33.33%,
  100% {
    left: 110%;
    opacity: 0;
  }
}

@keyframes anim-2 {
  0%,
  33.33% {
    left: -100%;
    opacity: 0;
  }
  41.63%,
  58.29% {
    left: 25%;
    opacity: 1;
  }
  66.66%,
  100% {
    left: 110%;
    opacity: 0;
  }
}

@keyframes anim-3 {
  0%,
  66.66% {
    left: -100%;
    opacity: 0;
  }
  74.96%,
  91.62% {
    left: 25%;
    opacity: 1;
  }
  100% {
    left: 110%;
    opacity: 0;
  }
}


.social-media {
  color: #fff;
}

.media-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px;
  padding: 15px;
  text-decoration: none;
}

/* wave section */



/* Here we declare the SVG node that we wish to animate. */

.animated-waves > use {
  animation: infinite-waves 25s cubic-bezier(0.8, 0.8, 0.6, 0.9) infinite;
}
.animated-waves > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.animated-waves > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.animated-waves > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.animated-waves > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes infinite-waves {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/* Mobile Optimization */
@media (max-width: 600px) {
  .css-waves {
    height: 15vh;
    min-height: 40px;
  }

  /* .pic-main-face {
    height: 25vh;
    width: 20vw;
  } */
 
}



@media (max-width: 900px) {
  .Curriculum-vitae {
    display: flex;
    flex-direction: column;
    height: 150vh;
  }
  .text-header {
    font-size: 2.5rem;
  }
  .header-text-button {
    left: -30%;
    top: 35px;
  }
  .items1,
  .items2,
  .items3,
  .items4,
  .items5,
  .items6 {
    height: 100vh;
  }
  .media-link {
    display: flex;
    flex-direction: column;
  }
  .social-tittle {
    text-align: center;
  }
  footer {
    top: 100px;
    font-size: 3rem;
  }

  .main-container {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .container2 h1 {
    font-size: 1rem;
  }
  .text {
    width: 100%;
    display: block;
  }
  .iframebox1,
  .iframebox2,
  .iframebox3,
  .iframebox4,
  .iframebox5,
  .iframebox6 {
    width: 49%;
    height: 70%;
  }
  .container5 {
    width: 50%;
    height: 90vh;
   
  }
  .item-1, .item-2, .item-3 {
   font-size: 2rem;
  }
}

.container5 {
  position: relative;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90vh;
  overflow: hidden;
 
  margin-top: -80px;
}
.pic-main-face {
  background: url(/asset/laptop-tablet-desktop-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 25rem;
  height: 25rem;
  margin-left: 30%;
  opacity: 0.3;
  z-index: -1;
}





/* middle pae  started */
.middle-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  text-align: center;
  background-color: #b0568d;
}
.tittle-middle-page {
  color: #fff;
  font-size: 2rem;
}
.button-middle-page {
  background-color: #755990;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}
.button-middle-page a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 95px;
}
.media-link {
  bottom: 10px;
}

.media-link i {
  padding: 15px;
  margin-top: 30px !important;
}
/* middle page ended */
